pool:
  vmImage: 'windows-latest'
   
steps:
- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: '$(Build.Repository.Name):$(Build.BuildId)'
- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    command: 'push'
    tags: '$(Build.Repository.Name):$(Build.BuildId)'