pool:
  vmImage: 'windows-latest'
   
steps:
 
- script: dotnet build '/InfraAsApi_Rest.sln' --configuration 'Release'
  displayName: 'Build solution'
     
- script: dotnet publish '**/InfraAsApi_Rest/InfraAsApi_Rest.csproj' --configuration 'Release' --output '$(Build.ArtifactStagingDirectory)/app'
  displayName: 'Package infraAsApi app'
- task: PublishBuildArtifacts@1
  displayName: 'Publishing app artifact'
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)/app'
    artifactName: app
- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: '$(Build.Repository.Name):$(Build.BuildId)'
- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    command: 'push'
    tags: '$(Build.Repository.Name):$(Build.BuildId)'